<section ng-controller="HomeController">

  <div class="row ban">
    <div class="col-lg-12">
      <div class="row">
        <img alt="banner" class="img-responsive center-block" src="modules/core/client/img/brand/banner.jpg" />
        <div class="mask col-md-5 col-md-offset-7 col-xs-12">
          <div class="ban-center">
            <p class="banner-title">Orderly <strong><span class="order">Tasks</span></strong></p>
            <p class="banner-text">Your working day will need to be organized with military precision. Now You have a perfectly ordered system. </p>
            <a class="btn tryitnow" ui-sref="authentication.signup">SIGN UP</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
      <br>
    <div class="row">
      <div class="col-md-2 col-md-offset-5 col-xs-3 col-xs-offset-4 page-header">
        <p class="text-title">FEATURES</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img class="center-block" width="96px" src="modules/core/client/img/brand/confirm.png" />
        <h3 class="text-center">Data Recording</h3>
        <p>Easy to recorder project information including task, issue, lesson-learn. Best for continuing improvement.</p>
      </div>
      <div class="col-md-3">
        <img class="center-block" width="96px" src="modules/core/client/img/brand/file.png" />
        <h3 class="text-center">Manage Task</h3>
        <p>Assign task freely. Easy to handle the workload in your team. Clear view of the tasks makes work more efficiency.</p>
      </div>
      <div class="col-md-3">
        <img class="center-block" width="96px" src="modules/core/client/img/brand/project.png" />
        <h3 class="text-center">Manage Project</h3>
        <p>Clear view on the project informations. Progress stage, workload, on-going tasks are easily accessed. Makes easier on cross project management.</p>
      </div>
      <div class="col-md-3">
        <img class="center-block" width="96px" src="modules/core/client/img/brand/dialogue.png" />
        <h3 class="text-center">Organization</h3>
        <p>Feel free to handle the organization in projects. You can define the responsibility very quickly.</p>
      </div>
    </div>
  </div>

</section>
