<section ng-init="find()">
  <div class="container">
    <div class="page-header">
      <h1>Tasks<span class="badge" ng-bind="tasks.length"></span></h1>
    </div>
    <table class="table table-hovered">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Assigned To</th>
          <th>Start date</th>
          <th>Due date</th>
          <th>Task content</th>
        </tr>
      </thead>
      <tbody>
        <tr  ng-repeat="task in tasks">
          <td ng-bind="task.title"></td>
          <td ng-bind="task.assignTo"></td>
          <td ng-bind="task.startDate"></td>
          <td ng-bind="task.dueDate"></td>
          <td ng-bind="task.content"></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
