<section>
  <div class="container">
    <div class="page-header">
      <h3>Create a Task</h4>
    </div>
    <form class="form-group" name="taskForm" ng-submit="taskCreate(taskForm.$valid)" novalidate>
      <label class="formlabel">Subject</label>
      <input width="100%" type="text" class="form-control" placeholder="Enter Subject" ng-model="newTask.title" required />
      <div ng-messages="taskForm.title.$error" role="alert">
        <p class="help-block error-test" ng-message="required">Task Subject is required.</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label class="formlabel">Assign to</label>
          <input class="form-control" type="text" placeholder="Assign to a person" ng-model="newTask.assignTo" />
        </div>
<!--
        <div class="col-md-3">
          <label class="formlabel" for="rating">Rating</label>
          <select class="form-control" id="rating" ng-model="newTask.rating" />
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
-->
        <div class="col-md-4">
          <label class="formlabel">Start Date</label>
          <input class="form-control" type="date" ng-model="newTask.startDate" />
        </div>
        <div class="col-md-4">
          <label class="formlabel">Due Date</label>
          <input class="form-control" type="date" ng-model="newTask.dueDate" />
        </div>
      </div>
      <label class="formlabel">Content</label>
      <textarea class="form-control" type="text" rows="5" ng-model="newTask.content" placeholder="Input your content for the task"></textarea>
      <div class="padding-top">
        <input class="btn center-block" type="submit" value="Confirm" />
      </div>
      <div ng-show="error" class="text-danger">
        <span ng-bind="error"></span>
      </div>
    </form>
  </div>
</section>
