<section>
  <div class="page-header">
    <h1>Projects</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="project in vm.projects" ui-sref="project.view({ projectId: project._id })" class="list-group-item">
      <div class="page-header">
        <h3>{{project.projectName}}
          <span class="pull-right"><p>{{project.projectCode}}</p></span>
        </h3>
      </div>
      <h5>Managed by : {{project.pm}}</h5>
      <p ng-bind="project.description"></p>
      <p>Tasks:<span> {{project.tasks.length}} </span></p>
    </a>
  </div>
</section>
