<section>
  <div class="page-header">
    <h2 ng-bind="vm.project.projectName"></h3>
  </div>
  <div class="right">
    <a class="btn btn-primary" ui-sref="project.edit({ projectId: vm.project._id })">Edit</a>
  </div>
  <div class="container">
    <h3>Project code <span class="well">{{ vm.project.projectCode }}</span></h3>
    <h3>Managed by <span class="well">{{ vm.project.pm }}</span></h3>
    <h3>
      Project brief <span class="well">{{ vm.project.description }}</span>
    </h3>
  </div>
  <div>
    <h3 class="page-header">Tasks in project</h3>
    <div class="container">
      <table class="table table-hover">
      <thead class="table-head">
        <tr>
          <th>Subject</th>
          <th>Assigned To</th>
          <th>Start date</th>
          <th>Due date</th>
          <th>Task content</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="task" ng-repeat="task in vm.tasks" ng-class="task.active" ng-click="task.active = !task.active">
          <td data-ng-bind="task.title"></td>
          <td data-ng-bind="task.assignTo"></td>
          <td data-ng-bind="task.startDate | date:'yyyy-MM-dd'"></td>
          <td data-ng-bind="task.dueDate | date:'yyyy-MM-dd'"></td>
          <td width="40%" data-ng-bind="task.content | limitTo:50"></td>
          <td>
            <span>
              <a class="btn btn-primary" ng-init="task._id" ui-sref="tasks.view({ taskId: task._id })">
                <i class="glyphicon glyphicon-arrow-right"></i>
              </a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</section>
