.formlabel {
  color: grey;
  padding-top: 30px
}

.padding-top{
  padding-top: 30px;

}

.table tbody tr td {
  vertical-align: middle;
}

.table-head {
  font-family: Helvetica;
  vertical-align: middle;
  font-size: 1.3em;
  background-color: #ecebeb
}

.task {
  font-family: Helvetica;
  font-size: 1.2em;
  padding-top: 15px;
}

.btn {
  margin-left: 15px;
  margin-right: 15px;
}

div.list-group > a {
  display: block;
  margin-bottom: 5px;
  background-color: rgba(3, 40, 111, 0.84);
  color: white;
  border-radius: 15px;
}

.list-group-item:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.list-group-item:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

div.page-header h1 {
  color: rgba(3, 40, 111, 0.84);
}

h3>span {
  font-size: 18px;
}

textarea {
  resize: none;
}

.well {
  padding: 5px;
  margin: 1px 20px 1px 20px;
}
